Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(n):
    return str(n) == str(n)[::-1]

In [2]:
is_symmetrical(121)

True

Given a string of numbers separated by a comma and space, return the product of the numbers. Examples multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [3]:
def multiply(*args):    
    # Multiply elements one by one 
    result = 1
    for x in args: 
         result = result * x  
    return result  
print(multiply(1,2,4))

8

In [4]:
multiply(2,3,4)

24

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [57]:
def square_digits(n):
    f = []
    while n >0:
        rem = n%10
        square = rem*rem
        f.append(square)
        n = int(n/10)
    s = ''.join(str(i) for i in f)  
    s = int(s)   
    print(s)

In [58]:
square_digits(9119)

811181

Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [64]:
def setify(n):
    S = set(n)
    return (list(S))

In [65]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

In [72]:
def mean(n):
    sum = 0
    count = 0
    while n>0:
        rem = n % 10
        sum = sum+rem
        count = count+1
        n = int(n/10)
    mean = sum / count
    print(mean)

In [76]:
mean(42)

3.0